<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.gasguzzler"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" /> 
	<uses-permission android:name="com.foxcatch.code.insecure.LOCATION_FINDER" /> 
	
    
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gg_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        >
        
        <activity
            android:name="com.app.gasguzzler.MainActivity"           
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GasPricePage" android:screenOrientation="portrait"></activity>
        <activity android:name=".GasVolumePage" android:screenOrientation="portrait"></activity>
        <activity android:name=".OdometerPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".VerificationPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".SummaryPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".GraphPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".QueryDatabase" android:screenOrientation="portrait"></activity>
        <activity android:name=".BrowseHistoryPage" android:screenOrientation="portrait"></activity>
        <activity android:name=".AboutGG" android:screenOrientation="portrait"></activity>
    </application>

</manifest>
